*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    60deg,
    #fff,
    rgba(211, 178, 178, 0.726),
    rgba(27, 22, 22, 0.623)
  );
  color: #fff;
  min-height: 100vh;
}

/* .container {
  width: 900px;
  margin: 0 auto;
} */

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  font-size: 2rem;
  padding: 0.5rem;
  background: #fff;
}

form button {
  color: #fff;
  background: green;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background: #fff;
  color: green;
}

/* todo container csss */

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style-type: none;
}

.todo {
  margin: 0.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: black;
  align-items: center;
}

.todo li {
  flex: 1;
}

.checked,
.delated {
  background: rgb(105, 185, 223);
  color: rgb(4, 8, 1);
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.todo-items {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
